/* reset.css integrated start 03162016 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset.css integrated end 03162016 */
/* typography.css integrated start 03162016 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400|Roboto:300,400);

h1, h2, h3, h4, h5{
color: #232323;
}
h1 {
float:left;
display:inline-block;
font-family:Oswald;
font-size:1.2em;
font-weight:400;
text-align:left;
}

h2 {
/* max-width:400px; */
margin: auto auto .4em auto;
display:block;
font-family:'Roboto',sans-serif;
font-size:2em;
line-height:1.4em;
font-weight:400;
text-align:left;
}

h3 {
/* max-width: 400px; */
display:block;
font-family:'Roboto',sans-serif;
font-size:1.4em;
line-height:1.5em;
margin: 4% 0;
font-weight:400;
text-align:left;
/* margin:2% auto 4% auto; */
}

h4 {
display:block;
font-family:'Roboto',sans-serif;
font-size:1.4em;
line-height:1.8em;
font-weight:400;
margin:2% auto;
}

h5 {
font-family:Oswald;
font-size:1.4em;
text-transform:uppercase;
margin:4% auto;
}

h6 {
font-family:'Roboto',sans-serif;
font-weight:400;
font-size:1.4em;
}

p {
font-family:'Roboto',sans-serif;
font-weight:300;
font-size:1em;
line-height:1.6em;
text-align:left;
color:#4C4F58;
}

.description {
/* max-width:400px; */
color:#4C4F58;
margin:0 8%;
}

.contents {
/* max-width:400px; */
font-family:'Roboto',sans-serif;
font-weight:300;
font-size:1.2em;
line-height:1.7em;
margin:4% auto;
}

.header, .summary {
max-width: 960px;
text-align: center;
margin: 2% auto;
}
.header {
max-width: 960px;
text-align: center;
}

.writebox {
max-width: 800px;
}

.details {
/* max-width:400px; */
margin:4% auto;
}

.greetings {
/* max-width: 600px; */
font-size: 2.4em;
margin:0;
line-height:1.7em;
}

.thick {
/* max-width:600px; */
font-weight: 300;
}

.white {
color:#fff;
}

.dark {
color:#232323;
}

.accent {
width:60%;
font-family:'Roboto',sans-serif;
font-weight:300;
font-size:1.6em;
line-height:1.6em;
text-align:center;
color:#FF5757;
margin:4% auto;
}

.bold {
font-weight:400;
}

.underline {
text-decoration: underline;
}

header {
font-family:Oswald;
font-size:1em;
line-height:51px;
font-weight:400;
text-align:right;
text-transform:uppercase;
}

.color {
color:#FF5757;
}

.sub-title {
width:300px;
font-family:Oswald;
font-weight:400;
font-size:1.8em;
line-height:2em;
text-align:center;
text-transform:uppercase;
color:#232323;
margin:2% auto;
}

.sub-title::before,.sub-title::after {
content:"";
height:1px;
display:block;
background:#232323;
}

#copyright {
text-align:center;
color:#FFF;
}

@media screen and (max-width: 600px) {
.greetings {
font-size: 2em;
}
.summary {
width: 92%;
}
h1 {
display:none;
}

h2 {
font-size:2em;
line-height:1.4em;
}

h5 {
padding:12% 0;
}

.accent {
width: 92%;
}
}
/* typography.css integrated end 03162016 */
html {
width: 100%;
overflow-x: hidden; 
}
body {
position:relative;
width:100%;
height:100%;
margin: 0px;
padding: 0px;
overflow-x:hidden;
font-size:12pt;
text-align:center;
-webkit-font-smoothing:subpixel-antialiased;
-moz-osx-font-smoothing:grayscale;
background-color:#f7f7f7;
}

body.index {
background: linear-gradient(100deg, #f7f7f7 72%, #CCF8FF 30%);
background: -webkit-linear-gradient(100deg, #f7f7f7 72%, #CCF8FF 30%);
background: -moz-linear-gradient(100deg, #f7f7f7 72%, #CCF8FF 30%);
background: -o-linear-gradient(100deg, #f7f7f7 72%, #CCF8FF 30%);
background: -ms-linear-gradient(100deg, #f7f7f7 72%, #CCF8FF 30%);
}

header {
position:fixed;
width:92%;
height:51px;
padding:0 4%;
z-index:5;
}

.bged {
background-color:#fff;
opacity:1;
box-shadow:0 1px 2px rgba(0,0,0,0.2);
transition:background-color .3s ease-in-out;
-webkit-transition:background-color .3s ease-in-out;
}

.flex {
display:flex;
display:-webkit-flex;
flex-direction:row;
-webkit-flex-direction:row;
align-items:center;
-webkit-align-items:center;
justify-content:center;
-webkit-justify-content:center;
}

footer {
background-color:#2b3548;
color:#a6a8ab;
padding:8%;
}

img {
max-width:100%;
max-height:100%;
margin:2% auto;
}

hr {
height:1px;
border:none;
background-color:rgba(0,0,0,0.2);
margin:0 auto;
}
#admin, #redesign {
display: none;
}
.steps {
margin-bottom:20px; 
position:relative;
display: flex;
flex-flow:row;
}

.step {
border-radius: 50%;
max-width: 18px;
width: 18px;
height: 18px;
padding: 8px;
margin: 0 12px 0 0;
border: 2px solid #00C6FF;
color: #00C6FF;
text-align: center;
font-weight: 600;
font: 16px 'Roboto', sans-serif;
float:left;
flex: 1;
order: 1;
}
.paragraph {
display:block;
margin: 0 1.2%;
/* max-width: 400px; */
flex: 1;
order: 2;
}
.box {
position:relative;
max-width:1280px;
width:100%;
overflow:hidden;
margin:0 auto;
}
.box.index {
width: 100%;
padding: 0;
}

.wide {
width: 100%;
overflow:hidden;
}

.narrow {
width: 960px;
overflow: hidden;
margin: 0 auto;
}

.wrapper {
max-width:960px;
overflow:hidden;
box-shadow:0 0 2px rgba(0,0,0,.2);
text-align:center;
background-color:#fff;
margin:4% auto;
padding:4%;
}
section {
width:100%;
padding:8% 0;
overflow:hidden;
position:relative;/* Just added if it causes problem remove it */
}
.icon {
display:inline-block;
width:44px;
height:44px;
border-radius:50%;
/* text-align:center; */
line-height:58px;
color:#BFC0C4;
margin:8px;
margin-top:6%;
}

.bg-lb {
background-color: #fff;
}

.vid {
position: relative;
width: 100%;
max-width: 720px;
margin: 0 auto 0 auto; 
}

#ntr {
/* background:url(.././images/end2.jpg) 50% 0 repeat; */
/* image-rendering: crisp-edges; */
/* background-size:cover; */
background: linear-gradient(100deg, #CCF8FF 40%, #fff 30%);
background: -webkit-linear-gradient(100deg, #CCF8FF 40%, #fff 30%);
background: -moz-linear-gradient(100deg, #CCF8FF 40%, #fff 30%);
background: -o-linear-gradient(100deg, #CCF8FF 40%, #fff 30%);
background: -ms-linear-gradient(100deg, #CCF8FF 40%, #fff 30%);
min-height:800px;
}

.row {
display:inline-block;
}

.row-main {
position:relative;
float:left;
width:56%;
border-radius:4px;
padding:2%;
}

.row-description {
position:static;
float:left;
width:32%;
overflow:hidden;
padding:2%;
}

.list {
list-style-type: circle;
text-align:left;
font-family:'Roboto',sans-serif;
font-size:1.2em;
line-height:1.8em;
}

.nav ul {
display:block;
right:0;
overflow:hidden;
list-style-type:none;
}

.nav ul li {
display:inline;
}

a {
color:#232323;
text-decoration:none;
}

p a {
text-decoration:underline;
}
p a:hover {
color:#668bff;
}

a.link {
color:#668bff;
}

li.active a {
border-radius:2px;
border-bottom:4px solid #668bff;
color:#668bff;
transition:.4s;
}

.nav ul li a {
padding:14px 14px 10px 14px;
}

.nav ul li a:hover {
border-radius:2px;
color:#668bff;
-webkit-transition:.4s;
transition:.4s;
}

.btn {
position:relative;
}

.btn-item {
display:inline-block;
width:92%;
max-width:960px;
border:1px solid #668bff;
border-radius:4px;
font-family:Oswald;
font-size:1em;
font-weight:400;
text-align:center;
text-transform:uppercase;
color:#668bff;
margin:8% auto;
padding: 4%;
}

a.btn-item:hover {
background-color:#668bff;
color:#fff;
transition:.3s;
-webkit-transition:.3s;
}

.btn-page {
display:inline-block;
width:100%;
font-family:'Roboto',sans-serif;
font-size:1.2em;
font-weight:400;
text-align:center;
margin:0 auto;
color: #668bff;
cursor:pointer;
}

.btn-page:hover {
opacity: .7;
transition:.3s;
-webkit-transition:.3s;
}

#btn-first {
font-size:1.2em;
color:#fff;
background-color:#668BFF;
border:0;
margin:12% auto 8%;
}

a#btn-first:hover {
opacity:.75;
border:0;
}

.gap {
margin:5% auto;
}

.gap-btm {
margin: 0 auto 6% auto;
}

.pad {
padding: 8% auto;
}

#abt {
background:url(.././images/end1.jpg) 50% 0 repeat;
background-size:cover;
min-height:800px;
/*background-color:#83bdda;*/
padding:4% 0;
}

#introduction {
position:relative;
top:100px;
width:400px;
/*outline:3px solid rgba(43,53,72,0.6);*/
outline-offset:4px;
/*background-color:rgba(43,53,72,0.6);*/
margin:0 auto;
padding:6% 6% 4%;
}

#mobile-nav {
display:none;
}

#linkedin {
background-color:#0077B5;
}

#twitter {
background-color:#55ACEE;
}

#dribbble {
background-color:#ea4c89;
}

#github {
background-color:#171515;
}

/* 
@media screen and (max-width: 1280px) and (min-width: 1024px) {
.row-main {
width: 46%;
margin: 2%;
}
 */

@media screen and (max-width:800px) {
.flex {
flex-direction:column;
-webkit-flex-direction:column;
}
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
body {
font-size:12pt;
}

#btn {
width:100%;
}

.wrapper {
width:92%;
margin:2%;
padding:2%;
}

p.btn-con {
width:60%;
}

.parallax-window {
min-height:540px;
}
.row-main {
width:96%;
margin: 2%;
}
.row-description {
float:none;
width:100%;
}

#introduction {
width:400px;
top:40px;
background-color:transparent;
outline:0;
}

p {
font-size:1em;
line-height:1.6em;
}

.mx-400 {
max-width:400px;
margin: 0 auto;
}
.box, .wide, .narrow {
width:92%;
padding:4%;
display: block;
}
}

@media screen and (max-width: 600px) {
footer {
padding:20% 4%;
}

#btn {
width:100%;
}

p.btn-con {
width:60%;
}

#abt {
padding:12% 4%;
}

.flex {
flex-direction:column;
-webkit-flex-direction:column;
}

.parallax-window {
min-height:80%;
}

.wrapper {
width:92%;
margin:2%;
padding:8% 2%;
}

#introduction {
top:0;
width:80%;
background:transparent;
outline:0;
margin:0 auto;
padding:16% 4%;
}

.contents {
font-size:1.2em;
line-height:1.7em;
}

.bged {
background-color:transparent;
opacity:1;
box-shadow:0 0 0 rgba(0,0,0,0);
}

.nav {
width:100%;
position:fixed;
}

.nav ul {
width:92%;
display:none;
height:auto;
text-align:center;
border-radius:6px;
box-shadow:0 0 2px rgba(0,0,0,.2);
background-color:#FFF;
overflow:hidden;
margin:0;
}

#mobile-nav {
display:block;
margin-top:6px;
width:92%;
color:#668bff;
position:relative;
cursor:pointer;
}

.nav li {
display:block;
width:100%;
float:none;
position:relative;
text-align:center;
}

.active {
padding:0;
}

a.nav-list {
display:block;
width:auto;
}

a.nav-list:hover {
border-radius:4px;
background-color:#FF5757;
color:#FFF;
transition:.4s;
}

li.active a {
border-radius:2px;
border-top:0;
color:#668bff;
background-color:transparent;
transition:.4s;
}
.mx-400 {
max-width:400px;
margin: 0 auto;
}
.description {
margin: 0 auto 8% auto;
}
div.middle,.row-main,.row-description {
width:96%;
}

.box, .wide, .narrow {
width:92%;
display: block;
}
}
