/* reset.css integrated start 03162016 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset.css integrated end 03162016 */

/* typography.css integrated start 03162016 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400|Roboto:300,400);
h1, h2, h3, h4, h5{
color: #232323;
}
h1 {
float:left;
display:inline-block;
font-family:'Oswald', serif;
font-size:1.2em;
font-weight:400;
text-align:left;
}
h2 {
margin: auto auto .4em auto;
display:block;
font-family:'Roboto',sans-serif;
font-size:2em;
line-height:1.4em;
font-weight:400;
text-align:left;
}
h3 {
display:block;
font-family:'Roboto',sans-serif;
font-size:1.4em;
line-height:1.5em;
margin: 4% 0;
font-weight:400;
text-align:left;
}
h4 {
display:block;
font-family:'Roboto',sans-serif;
font-size:1.4em;
line-height:1.8em;
font-weight:400;
margin:2% auto;
}
h5 {
}
h6 {
font-family:'Roboto',sans-serif;
font-weight:400;
font-size:1.4em;
}
p {
font-family:'Roboto',sans-serif;
font-weight:300;
font-size:1em;
line-height:1.6em;
text-align:left;
color:#4C4F58;
}
header {
font-family:'Oswald', serif;
font-size:1em;
line-height:51px;
font-weight:400;
text-align:right;
text-transform:uppercase;
/* header it was separated */
position:fixed;
width:92%;
height:51px;
padding:0 4%;
z-index:999;
}

.header {
max-width: 960px;
text-align: center;
}
.header, .summary {
max-width: 960px;
text-align: center;
margin: 2% auto;
}
.description {
color:#4C4F58;
margin:0 8%;
}
.contents {
font-family:'Roboto',sans-serif;
font-weight:300;
font-size:1.2em;
line-height:1.7em;
margin:4% auto;
}

.white {
color:#fff;
}
.dark {
color:#232323;
}
.red {
color:#FF5757;
}
.bold {
font-weight:400;
}
.accent {
width:60%;
font-family:'Roboto',sans-serif;
font-weight:300;
font-size:1.6em;
line-height:1.6em;
text-align:center;
color:#FF5757;
margin:4% auto;
}
#copyright {
text-align:center;
color:#FFF;
}

@media screen and (max-width: 600px) {
.summary {
width: 92%;
}

h1 {
display:none;
}
h2 {
font-size:2em;
line-height:1.4em;
}
.accent {
width: 92%;
}
}
/* typography.css integrated end 03162016 */

html {
width: 100%;
overflow-x: hidden; 
}
body {
position:relative;
width:100%;
height:100%;
margin: 0px;
padding: 0px;
overflow-x:hidden;
font-size:12pt;
text-align:center;
-webkit-font-smoothing:subpixel-antialiased;
-moz-osx-font-smoothing:grayscale;
background-color:#f7f7f7;
}
footer {
background-color:#2b3548;
color:#a6a8ab;
padding:8%;
}

section {
width:100%;
padding:8% 0;
overflow:hidden;
position:relative;/* Just added if it causes problem remove it */
}

body.index {
background: linear-gradient(100deg, #f7f7f7 62%, #CCF8FF 40%);
background: -webkit-linear-gradient(100deg, #f7f7f7 62%, #CCF8FF 40%);
background: -moz-linear-gradient(100deg, #f7f7f7 62%, #CCF8FF 40%);
background: -o-linear-gradient(100deg, #f7f7f7 62%, #CCF8FF 40%);
background: -ms-linear-gradient(100deg, #f7f7f7 62%, #CCF8FF 40%);
}

.bged {
background-color:#fff;
opacity:1;
box-shadow:0 1px 2px rgba(0,0,0,0.2);
transition:background-color .3s ease-in-out;
-webkit-transition:background-color .3s ease-in-out;
}

.flex {
display:flex;
display:-webkit-flex;
flex-direction:row;
-webkit-flex-direction:row;
align-items:center;
-webkit-align-items:center;
justify-content:center;
-webkit-justify-content:center;
}

img {
max-width:100%;
max-height:100%;
margin:2% auto;
}

hr {
height:1px;
border:none;
background-color:rgba(0,0,0,0.2);
margin:0 auto;
}

.box {
position:relative;
max-width:1280px;
width:100%;
overflow:hidden;
margin:0 auto;
}
.box.index {
width: 100%;
padding: 0;
}

.wide {
width: 100%;
overflow:hidden;
}
.narrow {
width: 960px;
overflow: hidden;
margin: 0 auto;
}

.wrapper {
max-width:960px;
overflow:hidden;
box-shadow:0 0 2px rgba(0,0,0,.2);
text-align:center;
background-color:#fff;
margin:4% auto;
padding:4%;
}

.icon {
display:inline-block;
width:44px;
height:44px;
border-radius:50%;
line-height:58px;
color:#BFC0C4;
margin:8px;
margin-top:6%;
}
.fff-bg {
background-color:#FFFFFF;
}

.row {
display:inline-block;
}

.list {
list-style-type: circle;
text-align:left;
font-family:'Roboto',sans-serif;
font-size:1.2em;
line-height:1.8em;
}
.nav ul {
display:block;
right:0;
overflow:hidden;
list-style-type:none;
}
.nav ul li {
display:inline;
}

a {
color:#232323;
text-decoration:none;
}
a.link {
color:#668bff;
}

p a {
text-decoration:underline;
}
p a:hover {
color:#668bff;
}

li.active a {
border-radius:2px;
border-bottom:4px solid #668bff;
color:#668bff;
transition:.4s;
}
.nav ul li a {
padding:14px 14px 10px 14px;
}
.nav ul li a:hover {
border-radius:2px;
color:#668bff;
-webkit-transition:.4s;
transition:.4s;
}

.btn {
position:relative;
}
.btn-page {
display:inline-block;
width:100%;
font-family:'Roboto',sans-serif;
font-size:1.2em;
font-weight:400;
text-align:center;
margin:0 auto;
color: #668bff;
cursor:pointer;
}
.btn-page:hover {
opacity: .7;
transition:.3s;
-webkit-transition:.3s;
}

.gap {
margin:5% auto;
}
.gap-btm {
margin: 0 auto 6% auto;
}
.pad {
padding: 8% auto;
}
.pad-narrow {
padding: 3% 0;
}
.zero {
margin:0;
padding:0;
}

#mobile-nav {
display:none;
}

#linkedin {
background-color:#0077B5;
}
#twitter {
background-color:#55ACEE;
}
#dribbble {
background-color:#ea4c89;
}
#github {
background-color:#171515;
}

@media screen and (max-width:800px) {
.flex {
flex-direction:column;
-webkit-flex-direction:column;
}
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
body {
font-size:12pt;
}

#btn {
width:100%;
}

.wrapper {
width:92%;
margin:2%;
padding:2%;
}

p {
font-size:1em;
line-height:1.6em;
}

.mx-400 {
max-width:400px;
margin: 0 auto;
}
.box, .wide, .narrow {
width:92%;
padding:4%;
display: block;
}
}

@media screen and (max-width: 600px) {
footer {
padding:20% 4%;
}

#btn {
width:100%;
}

.flex {
flex-direction:column;
-webkit-flex-direction:column;
}

.wrapper {
width:92%;
margin:2%;
padding:8% 2%;
}

.contents {
font-size:1.2em;
line-height:1.7em;
}

.bged {
background-color:transparent;
opacity:1;
box-shadow:0 0 0 rgba(0,0,0,0);
}

.nav {
width:100%;
position:fixed;
}
.nav ul {
width:92%;
display:none;
height:auto;
text-align:center;
border-radius:6px;
box-shadow:0 0 2px rgba(0,0,0,.2);
background-color:#FFF;
overflow:hidden;
margin:0;
}

.nav li {
display:block;
width:100%;
float:none;
position:relative;
text-align:center;
}

#mobile-nav {
display:block;
margin-top:6px;
width:92%;
color:#668bff;
position:relative;
cursor:pointer;
}

.active {
padding:0;
}

a.nav-list {
display:block;
width:auto;
}
a.nav-list:hover {
border-radius:4px;
background-color:#FF5757;
color:#FFF;
transition:.4s;
}
li.active a {
border-radius:2px;
border-top:0;
color:#668bff;
background-color:transparent;
transition:.4s;
}

.mx-400 {
max-width:400px;
margin: 0 auto;
}
.description {
margin: 0 auto 8% auto;
}
.box, .wide, .narrow {
width:92%;
display: block;
}
}
