.box-int {
position:relative;
width:1024px;
margin:0 auto;
}/* Using this for each page's intro section width adjustment */
.rm-int {
top:0;
width:734px;
height:464px;
position:absolute;
margin-top:0px;  
margin-left:450px;
z-index:0;
background-size:734px 464px;
background-repeat:no-repeat;
background-image:url(.././images/rm-intro.png);
}
.maze-int {
top:0;
width:872px;
height:623px;
position:absolute;
margin-top:-100px;  
margin-left:-200px;
z-index:0;
background-size:872px 623px;
background-repeat:no-repeat;
background-image:url(.././images/ent-maze-int.png);
}
.rigit-int {
width: 240px;
height: 480px;
margin: 4% auto;
z-index:0;
background-size:240px 480px;
background-repeat:no-repeat;
background-image:url(.././rigit/rigit_int_012416.png);
}
.gd-int {
top:50px;
right:0;
width:650px;
height:436px;
position:absolute;
margin-top:-40px;  
margin-left:-250px;
z-index:0;
background-size:650px 436px;
background-repeat:no-repeat;
background-image:url(.././graphicdesign/gd_brochure.png);
}
.tle-int {
top:0;
width:954px;
height:650px;
position:absolute;
margin-left:-300px;
z-index:0;
background-size:954px 650px;
background-repeat:no-repeat;
background-image:url(.././images/tle-ps.png);
}
.charton-int {
top:0;
width:684px;
height:528px;
position:absolute;
margin-left:-100px;
z-index:0;
background-size:684px 528px;
background-repeat:no-repeat;
background-image:url(.././images/charton-int-new.png);
}
.bookclip-int {
background:url(.././bookclip/bk_int.png) 60% 0 no-repeat;
background-size:60% auto;
background-color: #fff;
background-position: right;
}
.idsredesign-int {
background:url(.././ids/ids-intimg.png) 50% 0 no-repeat;
background-size:50% auto;
background-position: left;
}
.idsadmin-int {
background:url(.././ids/adminportal_hlf.png) 50% 0 no-repeat;
background-size:50% auto;
background-position: right;
background-color: #fff;
}
.ids-int {
background:url(.././ids/stockimage.png) 50% 0 repeat;
background-size:cover;
}

/* page-color */
.rigit-bg {
background-color:#e2f1fb;
}
.gd-bg {
background-color:#414142;
}
.ids-bg {
background-color:#595f6f;
}
.bcapp-bg {
background-color:#F9F4EF;
}
.bcapp-cr {
color:#544843;
}
.bookclip-bg {
background-color:#f4f4f4;
}
.ent-bg {
background-color:#C4B69D;
}
.ent-bg-2 {
background-color:#000000;
}
.ent-bg-3 {
background-color:#9ddcf9;
}
.ids-bg-2 {
background-color:#f7f7f7;
}
.wander-cr {
color: #ba4b56;
}
/* end of page-color */

/* Fluidbox zooming images in Starts */
.zoomi {cursor: zoom-in;}
@-webkit-keyframes a{0%{-webkit-transform:translate(-50%,-50%) rotateX(0) rotateY(0);transform:translate(-50%,-50%) rotateX(0) rotateY(0)}50%{-webkit-transform:translate(-50%,-50%) rotateX(-180deg) rotateY(0);transform:translate(-50%,-50%) rotateX(-180deg) rotateY(0)}to{-webkit-transform:translate(-50%,-50%) rotateX(-180deg) rotateY(-180deg);transform:translate(-50%,-50%) rotateX(-180deg) rotateY(-180deg)}}@keyframes a{0%{-webkit-transform:translate(-50%,-50%) rotateX(0) rotateY(0);transform:translate(-50%,-50%) rotateX(0) rotateY(0)}50%{-webkit-transform:translate(-50%,-50%) rotateX(-180deg) rotateY(0);transform:translate(-50%,-50%) rotateX(-180deg) rotateY(0)}to{-webkit-transform:translate(-50%,-50%) rotateX(-180deg) rotateY(-180deg);transform:translate(-50%,-50%) rotateX(-180deg) rotateY(-180deg)}}.fluidbox{outline:none}.fluidbox__overlay{background-color:hsla(0,0%,100%,.85);cursor:pointer;cursor:zoom-out;opacity:0;pointer-events:none;position:fixed;top:0;left:0;bottom:0;right:0;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.fluidbox--opened .fluidbox__overlay{pointer-events:auto}.fluidbox__wrap{background-position:center center;background-size:cover;margin:0 auto;position:relative;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.fluidbox--closed .fluidbox__thumb,.fluidbox__thumb{-webkit-transition:opacity 0s ease-in-out 0s;transition:opacity 0s ease-in-out 0s}.fluidbox__ghost{background-size:100% 100%;background-position:center center;background-repeat:no-repeat;position:absolute;transition-duration:0s,.5s;transition-delay:0s;-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,-webkit-transform;transition-property:opacity,transform}.fluidbox--opened .fluidbox__ghost{cursor:pointer;cursor:zoom-out}.fluidbox--closed .fluidbox__ghost{-webkit-transition-delay:.5s,0s;transition-delay:.5s,0s}.fluidbox__loader{opacity:0;-webkit-perspective:200px;perspective:200px;pointer-events:none;position:absolute;top:0;left:0;bottom:0;right:0}.fluidbox__loader:before{background-color:hsla(0,0%,100%,.85);content:'';-webkit-transform-style:preserve-3d;transform-style:preserve-3d;position:absolute;top:50%;left:50%;width:20%;padding-bottom:20%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-delay:0s;transition-delay:0s}.fluidbox--loading .fluidbox__loader{opacity:1;-webkit-transition:opacity .5s ease-in-out .5s;transition:opacity .5s ease-in-out .5s}.fluidbox--loading .fluidbox__loader:before{-webkit-animation:a 1s 0s infinite ease-in-out forwards;animation:a 1s 0s infinite ease-in-out forwards}
/* Fluidbox zooming images in Ends */

/*jssor slider style guide(https://github.com/jssor/slider) starts*/
.prcsssldr {
margin: 0 auto;
width: 800px;
height: 400px;
}
.prcsscntnt {
position: absolute;
width: 34%;
margin: 3%;
}
.prcssimg {
position: absolute;
width: 60%;
right:0;
}
/* reference : jssor slider bullet navigator skin 05 css */
.bb05, .db05 {
	position: absolute;
	left:0;
}
.db05 div, .db05 div:hover, .db05 .av, .bb05 div, .bb05 div:hover, .bb05 .av {
	position: absolute;
	/* size of bullet element */
	width: 7px;
	height: 7px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}
.bb05 div {border: 1px solid #f7f7f7;}
.bb05 div:hover, .jssorb05 .av:hover {background-color:#f7f7f7;}
.bb05 .av {background-color:rgba(247, 247, 247, .7);}

.db05 div {border: 1px solid #4C4F58 ;}
.db05 div: hover, .db05 .av:hover {background-color:#4C4F58;}
.db05 .av {background-color:rgba(43, 53, 72, .7);}

/* reference : jssor slider arrow navigator skin 12 css */
.ba12l, .ba12r, .da12l, .da12r {
	display: block;
	position: absolute;
	top:50%;
	/* size of arrow element */
	padding: 14px 8px;
	width: 30px;
	border-radius: 24px;
	cursor: pointer;
	overflow: hidden;
	z-index: 5;
}
.ba12l, .da12l {
left: -60px;
}
.ba12r, .da12r {
right: -60px;
}

.ba12l {color:#F4F5F6; background-color:#D9DADD;}
.ba12l:hover {color:#999BA2;}
.ba12r {color:#F4F5F6; background-color:#D9DADD;}
.ba12r:hover {color:rgba(247, 247, 247, .7);}

.da12l {color:#F4F5F6; background-color:#D9DADD;}
.da12l:hover {color:#999BA2;}
.da12r {color:#F4F5F6; background-color:#D9DADD;}
.da12r:hover {color:rgba(247, 247, 247, .7);}
/*jssor slider style guide(https://github.com/jssor/slider) ends*/

.visible {
overflow: visible;
}

.vid {
position: relative;
width: 100%;
max-width: 720px;
margin: 0 auto 0 auto; 
}

#prcss {
display:none;
}

#colophon {
width:60%;
margin:0 auto;
}

.bg {
min-height:400px;
box-shadow:0 1px 2px rgba(0,0,0,0.2);
z-index: 1;
}

.separate-bg {
background-color:#2d4f4d;
}

.half-two-lft {
float:left;
width:46%;
margin: auto 1% auto 3%;
z-index:2;
}
.half-two-rt {
float:right;
width:46%;
margin: auto 3% auto 1%;
z-index:2;
}

.half-full-lft {
float:left;
width:50%;
z-index:2;
}
.half-full-rt {
float:left;
width:50%;
z-index:2;
}

.clmn-two-lft {
float:left;
width:32%;
margin:0 4% 0 14%;
}
.clmn-two-rt {
float:right;
width:32%;
margin:0 14% 0 4%;
}

.clmn-three-lft {
float:left;
width:30%;
margin:1% 1% 1% 3%;
}
.clmn-three-cntr {
float:left;
width:30%;
margin:1%;
}
.clmn-three-rt {
float:right;
width:30%;
margin:1% 3% 1% 1%;
}

img.large {
width:90%;
max-width: 1280px;
}
img.small {
width:72%;
margin: 0 auto;
}
img.block {
width:40%;
}
.passage {
font-size:1.142em;
line-height:1.712em;
padding-bottom: 1em;
}
.tag {
font-size: 1em;
line-height:1.5em;
color: #999BA2;
}
.left {
text-align:left;
}
.center {
text-align:center;
}
.cntr {
width:60%;
margin:0 auto;
}

.scrolltotop {
margin:0 auto;
padding-top: 4%;
font-family:'Lato', serif;
font-size:1.4em;
font-weight:700;
color:#232323;
text-align:center;
cursor:pointer;
}
.scrolltotop::before {
content:"To the top";
display:inline-block;
}
.steps {
margin-bottom:20px; 
position:relative;
display: flex;
flex-flow:row;
}
.step {
border-radius: 50%;
max-width: 18px;
width: 18px;
height: 18px;
padding: 8px;
margin: 0 12px 0 0;
border: 2px solid #00C6FF;
color: #00C6FF;
text-align: center;
font-weight: 500;
font: 16px 'Roboto', sans-serif;
float:left;
flex: 1;
order: 1;
}
.stepli {
padding: 0 0 8px 0;
margin: 0 8px 0 0;
text-align: center;
font-weight: 700;
font-family: 'Lato', sans-serif;
}

ul.list {
/* list-style: disc; */
/* padding-left: 2.142em; */
color: #4C4F58;
/* text-indent: 0; */
text-align:left;
font-family:'Roboto',sans-serif;
font-size:1.142em;
line-height:1.8em;
font-weight: 300;
}

/* 
ul.list > li {
margin-bottom: .4em;
}
 */

ul.list > li:before {    
    font-family: 'FontAwesome';
    content: '\f111';
    font-size:.4em;
    margin-right: 10px;
    margin-bottom: 10px;
}

.paragraph {
display:block;
margin: 0 1.2%;
/* max-width: 400px; */
flex: 1;
order: 2;
}

@media screen and (max-width:800px) {
.idsredesign-int {
background:#ececed;
}
.idsadmin-int, .bookclip-int  {
background:#fff;
}
}
@media screen and (min-width:601px) and (max-width:1024px) {
.cntr,#colophon {
width:92%;
}
.clmn-two-lft,.clmn-two-rt {
width:42%;
margin:4%;
}
.clmn-three-lft,.clmn-three-cntr,.clmn-three-rt {
width:80%;
float:none;
margin:0 auto;
}
.half-two-lft,.half-two-rt {
width:99%;
margin:.5%;
}
.box-int {
width:92%;
}
.option {
width:100%;
}
}

/* Typed Cursor blinker*/
.typed-cursor{
opacity: 1;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}
@keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
.delay1, .delay2, .delay3 {
opacity: 0;
position: relative;
top: 30px;
}

@media screen and (max-width:600px) {
.cntr,#colophon {
width:92%;
}
.option {
width:100%;
}
.box-int,.half-two-lft,.half-two-rt {
width:92%;
margin:4%;
}
.clmn-two-lft,.clmn-two-rt{
width:92%;
float:none;
margin:0 auto;
}
.clmn-three-lft,.clmn-three-cntr,.clmn-three-rt {
width:96%;
float:none;
margin:0 auto;
}
.rm-int,.maze-int,.rigit-int,.ww-int,.tle-int,.charton-int, idsadmin-int {
visibility:hidden;
display: none;
}
}