@import url(http://fonts.googleapis.com/css?family=Oswald:400|Roboto:300,400);

h1, h2, h3, h4, h5{
color: #232323;
}
h1 {
float:left;
display:inline-block;
font-family:Oswald;
font-size:1.2em;
font-weight:400;
text-align:left;
}

h2 {
max-width:400px;
margin: auto auto .4em auto;
display:block;
font-family:'Roboto';
font-size:2em;
line-height:1.4em;
font-weight:400;
text-align:left;
}

h3 {
max-width: 400px;
display:block;
font-family:Roboto;
font-size:1.2em;
line-height:1.5em;
font-weight:400;
text-align:left;
margin:2% auto 4% auto;
}

h4 {
display:block;
font-family:Roboto;
font-size:1.4em;
line-height:1.8em;
font-weight:400;
margin:2% auto;
}

h5 {
font-family:Oswald;
font-size:1.4em;
text-transform:uppercase;
margin:4% auto;
}

h6 {
font-family:Roboto;
font-weight:400;
font-size:1.4em;
}

p {
font-family:'Roboto';
font-weight:300;
font-size:1em;
line-height:1.6em;
text-align:left;
color:#4C4F58;
}

.description {
max-width:400px;
color:#4C4F58;
margin:0 auto;
}

.contents {
max-width:400px;
font-family:'Roboto';
font-weight:300;
font-size:1.2em;
line-height:1.7em;
margin:4% auto;
}

.header, .summary {
max-width: 767px;
text-align: center;
}

.summary {
margin: 4% auto;
}

.details {
max-width:400px;
margin:4% auto;
}

.greetings {
font-size: 2.4em;
line-height:1.2em;
}

.thick {
max-width:600px;
font-weight: 300;
}

.white {
color:#fff;
}

.dark {
color:#232323;
}

.accent {
width:60%;
font-family:'Roboto';
font-weight:300;
font-size:1.6em;
line-height:1.6em;
text-align:center;
color:#ed4f4d;
margin:4% auto;
}

.bold {
font-weight:400;
}

.underline {
text-decoration: underline;
}

header {
font-family:Oswald;
font-size:1em;
line-height:51px;
font-weight:600;
text-align:right;
text-transform:uppercase;
}

.color {
font-color:#ed4f4d;
}

.sub-title {
width:300px;
font-family:Oswald;
font-weight:400;
font-size:1.8em;
line-height:2em;
text-align:center;
text-transform:uppercase;
color:#232323;
margin:2% auto;
}

.sub-title::before,.sub-title::after {
content:"";
height:1px;
display:block;
background:#232323;
}

#copyright {
text-align:center;
color:#FFF;
}

@media screen and (max-width: 600px) {

h1 {
display:none;
}

h2 {
font-size:2em;
line-height:1.4em;
}

h5 {
padding:12% 0;
}
}